<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <title>Frontend Mentor | Rock, Paper, Scissors</title>
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600,700&display=swap" rel="stylesheet">
  <!--<script src="/js/wick.lite.js"></script> --><!-- this needs to be removed for production -->
  <script src="/cfw/wicklite"></script>
  <link rel="stylesheet" type="text/css" href="/source/main.css">
</head>